html { 
  background-color: black; 
}

.container {
background: url('../../assets/images/burger.png') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
padding-top: 15px;
padding-bottom: 30px;
width: 100%;

}


li {
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  color: black;
  text-shadow: -5px 0 #ffc107, 0 2px #ffc107 2px 0 #ffc107, 0 -2px #ffc107;
  font-weight: bold;
}


.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h3{ 
  color: #ffc107; 
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

footer { 
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  width: 100%;
}




